html {
  box-sizing: border-box; }

body {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px; }

ul {
  list-style: none;
  padding-inline-start: 0;
  margin: 0; }

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer; }

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px; }

.header {
  background-image: url("../images/header-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 242px; }
  .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 186px; }

.menu-list {
  display: flex; }
  .menu-list__item {
    padding: 0 14px;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    opacity: 0.7;
    transition: 0.5s; }
  .menu-list__item:hover {
    opacity: 1; }

.btn {
  padding: 15px 37px;
  text-transform: uppercase;
  background-color: #F6762C;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer; }

.header-content__subtitle {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase; }
.header-content__title {
  max-width: 555px;
  font-size: 57px;
  line-height: 67px;
  font-weight: 500;
  margin-top: 7px; }
.header-content__text {
  max-width: 523px;
  font-size: 18px;
  line-height: 21px;
  opacity: 0.7;
  margin-bottom: 42px; }

.dishes {
  background: #1C1C1C;
  padding: 100px 0; }
  .dishes-wrapper {
    display: flex;
    justify-content: space-between; }
  .dishes-item {
    width: 262px;
    height: 323px;
    background-color: #312F30;
    border-radius: 10px;
    text-align: center; }
    .dishes-item__title {
      padding: 28px 0 13px 0;
      font-weight: 500;
      font-size: 20px;
      line-height: 23px; }
    .dishes-item__text {
      opacity: 0.7;
      padding: 0 19px; }

.order {
  background: #312F30; }
  .order-wrapper {
    display: flex; }
  .order-content {
    margin-left: 158px; }
    .order-content__title {
      padding-top: 165px;
      padding-bottom: 24px;
      font-size: 44px;
      line-height: 52px;
      font-weight: 500; }
    .order-content__text {
      opacity: 0.7;
      max-width: 368px; }
    .order-content__price {
      display: flex;
      color: #F6762C;
      margin-top: 13px;
      margin-bottom: 11px;
      letter-spacing: 0.1em;
      align-items: center; }
      .order-content__price__new {
        font-size: 20px;
        line-height: 23px;
        font-weight: 500; }
      .order-content__price__old {
        padding-left: 6px;
        text-decoration: line-through;
        opacity: 0.5; }
    .order-content__btn {
      margin-bottom: 165px; }

.cards {
  background: #1C1C1C; }
  .cards-wrapper {
    padding-top: 150px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
  .cards-item {
    width: 555px;
    margin-bottom: 30px; }
    .cards-item__1 {
      background-image: url("../images/Dairy.png"); }
    .cards-item__2 {
      background-image: url("../images/PizzaHut.png"); }
    .cards-item__3 {
      background-image: url("../images/Burger.png"); }
    .cards-item__4 {
      background-image: url("../images/PapaJohns.png"); }
    .cards-item__content {
      padding-left: 290px; }
      .cards-item__content-right {
        padding-left: 50px; }
    .cards-item__title {
      font-size: 30px;
      line-height: 35px;
      font-weight: 500;
      padding-top: 60px;
      padding-bottom: 20px; }
    .cards-item__text {
      opacity: 0.7;
      width: 235px; }
    .cards-item__price {
      display: flex;
      color: #F6762C;
      margin-top: 11px;
      margin-bottom: 14px;
      letter-spacing: 0.1em; }
      .cards-item__price__old {
        padding-left: 10px;
        text-decoration-line: line-through;
        opacity: 0.5;
        margin: 0; }
      .cards-item__price__new {
        margin: 0; }
    .cards-item__btn {
      font-size: 12px;
      line-height: 14px;
      font-weight: 500;
      margin-bottom: 60px; }

.reviews {
  padding: 138px 0;
  background: #1C1C1C; }
  .reviews-wrapper {
    display: flex;
    justify-content: center; }
  .reviews-photos {
    position: relative;
    padding-left: 97px;
    width: 346px; }
    .reviews-photos__item-active {
      box-shadow: 0px 4px 25px 40px rgba(246, 118, 44, 0.5);
      border-radius: 50%; }
    .reviews-photos__item {
      cursor: pointer; }
    .reviews-photos__main {
      align-items: center;
      border-radius: 50%;
      position: absolute;
      top: 65px;
      left: 162px; }
    .reviews-photos__others {
      position: absolute; }
  .reviews-content {
    padding-left: 100px; }
  .reviews-item {
    text-align: center;
    max-width: 368px;
    padding-top: 170px; }
    .reviews-item__text {
      opacity: 0.7;
      padding-bottom: 27px;
      position: relative; }
      .reviews-item__text::before {
        content: url("../images/icon.svg");
        position: absolute;
        left: 163px;
        top: -85px; }
    .reviews-item__name {
      font-size: 24px;
      line-height: 28px;
      font-weight: 500; }
    .reviews-item__nation {
      text-transform: uppercase;
      opacity: 0.7; }

#photo2 {
  left: 48px;
  top: -32px; }

#photo3 {
  left: 285px;
  top: -48px; }

#photo4 {
  left: 67px;
  top: 213px; }

#photo5 {
  left: 323px;
  top: 194px; }

.hide {
  display: none; }

.show {
  display: block; }

.download {
  background: #312F30; }
  .download-wrapper {
    display: flex;
    padding: 60px 0;
    justify-content: space-around; }
  .download-text {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px; }

.footer {
  background-color: #1c1c1c; }
  .footer-wrapper {
    display: flex;
    justify-content: space-around;
    padding: 125px 0; }
  .footer-contacts {
    padding-top: 25px;
    font-size: 12px;
    line-height: 14px;
    opacity: 0.8; }
    .footer-contacts__email {
      padding-bottom: 10px;
      padding-left: 22px;
      position: relative; }
      .footer-contacts__email::before {
        content: url("../images/email.svg");
        width: 12px;
        height: 10px;
        position: absolute;
        left: 0; }
    .footer-contacts__site {
      padding-left: 22px;
      position: relative; }
      .footer-contacts__site::before {
        content: url("../images/site.svg");
        width: 12px;
        height: 12px;
        position: absolute;
        left: 0;
        transform: translateY(10%); }
  .footer-title {
    font-weight: 500; }
  .footer-list li {
    font-size: 12px;
    line-height: 14px;
    padding-top: 15px;
    opacity: 0.8; }
  .footer-socials {
    padding-top: 16px; }
    .footer-socials__icon:not(:first-child) {
      padding-left: 10px; }

/*# sourceMappingURL=main.css.map */
